body {
    background-color: lightsalmon;

}
#butters {
    margin-top: 10em;
    text-align: center;
}
#gen {
    background-color: lightcyan;
    text-align: center;

}
.green{
    background-color: lightgoldenrodyellow;

}